$mq-mobile: 0px;
$mq-desktop: 1081px;

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #EEEEEE;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    font-family: 'Rubik', sans-serif;
    // @include breakpoint($mq-mobile) {
	// 	font-size: 3em;
	// }
	// @include breakpoint($mq-desktop) {
	// 	font-size: 1em;
	// }
}

a:hover {
    text-decoration: none;
}

.fadeable {
    transition: opacity 0.5s;
    opacity: 0;
}

.fadein {
    opacity: 1;
}
